.card.small {
  height: 250px;
}

.determinate {
  width: 10%;
}
.top {
  margin-top: 20px;
}

.modal {
  max-height: 100%;
  height: 100%;
  width: 100%;
}
.modal.modal-fixed-footer{
  height: 100%;
}